<div class="home-wrapper">
  <a href="/logout">Logout</a>
  <br>
  {{#if user}}
  <span>id: {{user.id}}</span>
  <br>
  <span>email: {{user.email}}</span>
  <br>
  <span>role: {{user.role}}</span>
  <br>
  <span>accountId: {{user.accountId}}</span>
  {{else}}
  <span>Error: No User Found</span>
  {{/if}}
</div>